
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
}


.container {
    width: 100%;
    max-width: 420px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: gold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #222;
    color: #fff;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 15px;
    background: linear-gradient(45deg, gold, goldenrod);
    color: #000;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 12px;
}

/* ESTADOS */
.estado-pendiente {
    background: #ffc107;
    color: #000;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: bold;
}

.estado-aceptada {
    background: #28a745;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: bold;
}

.estado-cancelada {
    background: #dc3545;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}
